h1, p, h2 {
    text-align: center;
}

/* Style the video to fit full screen */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

 

.menu {
    width: 50%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;

}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
} 

.item p {
  /* --- INLINE-BLOCKL: This keeps the box only as wide as the content inside it, not the whole line --- */
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

h1, h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}


.established {
  font-style: italic;
}

h1 {
    font-size: 40px;
    margin: 0px;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 20px;
}

/* Footer styles */

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
  color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}

.address {
  margin-bottom: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
}

